<a href="https://colab.research.google.com/github/junyeog/deep-learning-practice-/blob/main/250319_python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numpy 실습
배열 연산을 빠르게 수행할 수 있도록 도와주는 라이브러리

In [35]:
import numpy as np

# 1차원 배열 생성
arr = np.array([1, 2, 3, 4])
print(arr)  # [1 2 3 4]

[1 2 3 4]

In [36]:
print(arr.shape)  # 배열의 형태 출력
print(arr.size)   # 배열의 원소 개수 출력
print(arr.dtype)  # 데이터 타입 출력

(4,)
4
int64

# Python Print Format

In [37]:
print("안녕하세요, 머신러닝 수업입니다!")

안녕하세요, 머신러닝 수업입니다!

In [38]:
fruits = ["사과", "바나나", "키위"]
for fruit in fruits:
    print(fruit)

사과
바나나
키위

In [39]:
print("머신러닝 점수는 %d 점 입니다." % 85)
print("%s의 점수는 70 점 입니다." % "오준역") # 자기 이름 넣어서 실행
print("%s의 점수는 %d 점 입니다. %s" % ("오준역",85,"합격!")) # 자기 이름 넣어서 실행

머신러닝 점수는 85 점 입니다.
오준역의 점수는 70 점 입니다.
오준역의 점수는 85 점 입니다. 합격!

# Python for 문

In [40]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [41]:
for i in range(10):
    print(i, end=" ")  # end=" "를 사용하면 줄바꿈 없이 출력

0 1 2 3 4 5 6 7 8 9

In [42]:
for idx, fruit in enumerate(fruits):
    print(f"{idx}: {fruit}")

0: 사과
1: 바나나
2: 키위

### 리스트 내포
- 파이썬에서 리스트를 생성하고 초기화하는 방법
- 반복문과 조건문을 결합하여 리스트를 한 줄로 생성할 수 있음

In [43]:
squares = [x**2 for x in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]

# 실습문제

## 1. f string format을 활용해 아래와 같은 결과를 출력하세요
출력 예시

0교시 수업은 머신러닝입니다.

1교시 수업은 딥러닝입니다.

In [1]:
mylist = ["머신러닝", "딥러닝"]
for i in range(2):
  print(f"{i}교시 수업은 {list[i]}입니다.")
# for문 작성
# f string format print

0교시 수업은 list[0]입니다.
1교시 수업은 list[1]입니다.

## 2. 리스트를 제곱해서 출력하는 코드를 작성하세요.
1부터 10까지의 숫자를 담고 있는 리스트가 있습니다. 각 숫자의 제곱을 출력하는 코드를 작성하세요.

출력 예시

1의 제곱은 1입니다.

2의 제곱은 4입니다.

3의 제곱은 9입니다.

...

10의 제곱은 100입니다.

In [4]:
numbers=[1,2,3,4,5,6,7,8,9,10]
# 출력하기
number=list(range(1,11))
for i in number:
  print(f"{i}의제곱은 {i*i}입니다")

1의제곱은 1입니다
2의제곱은 4입니다
3의제곱은 9입니다
4의제곱은 16입니다
5의제곱은 25입니다
6의제곱은 36입니다
7의제곱은 49입니다
8의제곱은 64입니다
9의제곱은 81입니다
10의제곱은 100입니다